.catalog {
    min-width: 600px;
    background-color: #f5f7f8;
}

.catalog h1 {
    color: darkcyan;
    font-size: 28px;
    font-weight: 300;
}

.catalog .filters button {
    margin: 6px 4px;
}